/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CONFIGURAÇÕES GLOBAIS */

/* HEADER */
header {
    background-color: #cfcfcf;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;

    & .divLogo {
        
        
        & h6{
            border-bottom: 2px solid #034C8C;
            font-size: 1.3rem;
            padding: 5px;
        }
    }

    & ul {
        text-decoration: none;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: center;
        gap: 40px;
        font-size: 1.3rem;
        padding: 10px;
        
        & li{
            & a{
                text-decoration: none;
                color: #000000;
                cursor: pointer;
            }

            a:hover{
                color: #034C8C;
                
            }
       }

       & li:hover{
            transition: 0.6s;
            transform: scale(1.2);
       }
    }
}
/* HEADER */

/* CAROUSEL BOOTSTRAP */
.carousel-item img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
/* CAROUSEL BOOTSTRAP */

/* CONTEÚDO */
.divContent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    
    & p{
        width: 350px;
        height: 250px;
        margin-top: 40px;
        border-radius: 30px 10px 30px 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        text-align: justify;
        padding: 6px;
        cursor: pointer;
    }

    & p:hover{
        background-color: #8C8B8B;
        border:none;
        color: #ffffff;
        transition: 0.8s;
        transform: scale(1.2);
    }
    
}
/* CONTEÚDO */

/* FOOTER */
footer {
    bottom: 0;
    width: 100%;
    height: 120px;
    position: relative;
    background-color: #8C8B8B;
    color: #ffffff; 
    margin-top: 60px;
    & h6{
        text-align: center;
        font-size: 1.3rem;
        
    }

    .divSocialMedia {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.3rem;
    }

    .divImg{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
       
         & img{
               width: 40px;
               
           }
   }
}
/* FOOTER */
