/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ROOT */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

/* BODY */
body, html {
    background-color: #0C1A26;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleSize{
    font-size: 1.2rem;
}
/* CONTAINER */
.container {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-width: 100%;
    
}

.container aside{
    position: fixed; 
    top: 0;
    left: 0; 
    width: 20%; 
    height: 100vh; 
    background: #000000;
    padding: 20px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.container aside img{
    width: 110%; 
    height: auto; 
    margin-bottom: 20px; 
}

.container h4 {
    margin: 20px 0 0 0;
    font-size: 1.5rem;
}

.container form span {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 20px 0 0 0;
}

form span p {
    font-size: 1rem;
    margin: 0 0 0 10px;
}

form .inputForm {
    display: grid;
    margin: 20px 0 0 0;
}

.date, .typeLocation {
    display: flex;
    gap: 30px;
}

.date span, .typeLocation span {
    display: grid !important;
}

.description {
    display: grid;
    margin: 20px 0 0 0;
    width: 400px;
}

.colorContainer{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 20px;
}

#color {
    width: 40px;
    height: 40px;
    /* border: none; */
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    overflow: hidden;
    /* appearance: none; */
}

/* EVENT */
.event {
    margin: 20px 0 0 0;
}

.event span {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 20px;
}

.event span div {
    width: 140px;
    height: 110px;
    border-radius: 10px;
}

/* SELECIONADO */
.selecionado {
    display: grid;
    align-items: center;
    justify-content: center;
}

.selecionado:hover {
    border: 2px solid #00f;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.5);
}

/* UPLOAD */
.upload {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
}

.upload label {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 10px;
}

.upload button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
/* CONTATO */
.contatos{
    margin: 20px 0 0 0;
}
.contatos .nome{
    display: grid;
}

.contatos .emailTelefone{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.emailTelefone div{
    display: grid;
}
/* TERMO */
.termo{
    margin: 20px 0 0 0;
    gap: 10px;
}

.termo input[type="checkbox"] {
    width: 20px;      
    height: 20px;     
    margin-right: 10px;  
    appearance: none; 
    border: 2px solid #333;
    border-radius: 2px; 
    background-color: #fff; 
    cursor: pointer; 
}

.termo input[type="checkbox"]:checked {
    background-color: #4CAF50; 
    border-color: #4CAF50;     
}


.termo p {
    display: flex;
    align-items: center; 
    margin: 0;
}
/* BOTÃO GERAR CONVITE */
.btnGerarConvite{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    padding: 20px;
}
.btnGerarConvite button{
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/* FORM INPUTS */
form .inputForm input {
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}
