@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
} 

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
} 

form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

form button{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    text-transform: uppercase;
}

.select{
    display: flex;
    margin-top: 20px;
    gap: 5px;
    outline: none;
} 


table {
  border-collapse: separate;
  border-spacing: 10px; 
  border: 2px solid white;
  background-color: black;
}

table thead{
    text-transform: uppercase;
}

table td, th {
  padding: 10px;
  text-align: center;
}

a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.btn button{
    padding: 10px !important;
    border: none !important;
    text-transform: uppercase !important;
    border-radius: 10px !important;
}

.btn button a{
    text-decoration: none !important;
    color: black !important;
}