@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ALL CONFIG */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HEADER */
header .navbar{
    background-color: #245b09 !important;
   
}

.container-fluid{
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    flex-direction: row !important;
}
header .navbar a{
    color: white !important;
    
} 

.iconGoogle{
    width: 100%;
    font-size: 40px;
   
    
} 

