@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ALL CONFIG */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style-type: none;
}
/* BODY */
body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
}

/* MAIN H1 */
main h1{
    text-align: center;
    
}

/* FORM */
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    width: 500px;
}
form input[type='number']{
    height: 30px;
    border-radius: 5px;
}

form input[type=number]::-webkit-inner-spin-button{
    appearance: none; 
}    

form input[type='submit']{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    background-color: #245b09;
    color: white;
    border: none;
}

/* SECTION */
section{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
margin: 20px 0 0 0;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
padding: 10px;
border-radius: 10px;
width: 500px;
}

/* UL */
ul{
    display: flex;
    flex-direction: column;
}
/* UL IMG */
ul li img{
    height: 60px;
    
}

.notas{
    display: flex;
    gap: 15px;
    margin: 10px;
} 

.notasDoisCinco{
    display: flex;
    gap: 35px;
    margin: 10px;
}