@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* HEADER */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background: linear-gradient(90deg, #c11714,#e0004e,#ef0e8b); 
    padding: 10px;
}

header .btnMenu{
    color: white;
    margin-left: 60px;
}

header .btnMenu i{
    font-size: 40px;
    cursor: pointer;
}

header p{
    color: white;
    margin-right: 15px;
}

/* LINHA HR*/
.linha{
border: none;
border-bottom: 3px solid whitesmoke;
box-shadow: 0px 5px 12px 1px rgba(0,0,0,0.77);
z-index: 2;
}

/* MENU ASIDE */
.menu{
    background: linear-gradient(90deg, #c11714,#e0004e,#ef0e8b);
    color: white;
    position: fixed;
    left: 0;
    width: 200px;
    height: 100vh;
    padding: 10px;
    border-radius: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.menu i{
    font-size: 40px;
}

.menu .eventos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    text-transform: uppercase;
}

.menu .senha{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    text-transform: uppercase;
    margin-left: -15px;
}

.menu .logout{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
    margin-left: -25px;
}

.menu .logout a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
} 

.menu .logout a span{
    font-size: 2rem;
}